<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Include custom CSS -->
  <style>
    body {
      font-family: 'Buenard', sans-serif;
      background-color: #FFDAB9;
      color: #B07052;
    }

    /* Custom styles for the New Project button */
    .btn-primary {
      background-color: #F8AD9D;
      border-color: #F8AD9D;
    }
    .btn-primary:hover {
      background-color: #FBC4AB;
      border-color: #FBC4AB;
    }

    /* Custom styles for the project cards */
    .card {
      border: none;
      transition: transform 0.5s;
      background-color: #F8AD9D;
    }

    .card:hover {
      transform: scale(1.05);
    }

    /* Custom styles for the project titles */
    .card-title {
      color: #FFDAB9;
    }

    /* Custom styles for the project description */
    .card-text {
      color: #B07052;
    }

    /* Custom styles for the date */
    .text-muted {
      color: #F8AD9D;
    }


    .circle-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #B07052;
      color: white;
      font-size: 24px;
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .circle-btn:hover {
      background-color: #F8AD9D;
    }
    .card-body.new {
      display: flex;
      justify-content: center;
      align-items: center;
      height:155px;
      
    }

  </style>

</head>

<body>

  <div class="container mt-5">


    <!-- Create a container for the grid -->
    <div class="row mt-4">

      <!-- Create a column for each project -->
      {{#each projectsArray}}
      <div class="col-md-4 mb-4">
        <a href="/projects/{{id}}" style="text-decoration: none; color: inherit;">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{_nombreProyecto}} | {{id}}</h5>
              <p class="card-text">{{_descripcionProyecto}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{_fechaUltModificacion}}</small>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
      <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
            <div class="card-body new">
              <form method="POST" action="">
                <button class="circle-btn">+</button>
              </form>              
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>

  <!-- Include Bootstrap JS dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-9QJ6nY5Qz8Y5tZ5z9vJzZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9z"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
