<!-- FILEPATH: /f:/Fede/Escuela/OrganizeHub/src/views/projects/project.hbs -->

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-9QJ6nY5Qz8Y5tZ5z9vJzZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9zJZz9z"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <style>
        .container {
            font-family: 'Buenard', sans-serif;
        }
    </style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color: #B07052;">{{project._nombreProyecto}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 style="color: #F8AD9D;">{{project._descripcionProyecto}}</h2>
            {{#if project._fechaUltModificacion}}
         
            {{/if}}

            <h2 style="color: #B07052;">Miembros</h2>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addMemberModal" style="background-color: #F8AD9D;">Añadir miembro</button>
            <ul>
                {{#each members}}
                <li>
                    {{this}}
                    <button type="button" class="btn btn-danger" onclick="deleteMember('{{this}}')" style="background-color: #B07052;">Eliminar</button>
                </li>
                {{/each}}
            </ul>

            <!-- Add Member Modal -->
            <div class="modal" id="addMemberModal">
                <!-- Modal content goes here -->
                <!-- Example: -->
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: #FCD5CE;">
                        
                        <div class="modal-header" style="background-color: #F8AD9D;">
                            <h5 class="modal-title">Añadir miembro</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- Modal body content goes here #FFDAB9 -->
                            <form>
                                <div class="form-group">
                                    <label for="userInput" style="color: #B07052;">Usuario:</label>
                                    <input type="text" class="form-control" id="userInput" placeholder="Nombre de usuario" oninput="autocompleteMembers('userInput','autocompleteList')" style="background-color: #FBC4AB;">
                                    <div id="autocompleteList"></div>
                                </div>
                                <div class="form-group">
                                    <label for="roleSelect" style="color: #B07052;">Rol:</label>
                                    <select class="form-control" id="roleSelect" style="background-color: #FBC4AB;">
                                        <option value="member">Miembro</option>
                                        <option value="project-manager">Administrador de proyecto</option>
                                        <option value="project-owner">Dueño de proyecto</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="background-color: #FCD5CE;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #B07052;">Close</button>
                            <button type="button" class="btn btn-primary" onclick="addMember()" style="background-color: #B07052;">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <h2 style="color: #B07052;">Equipos</h2>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addTeamModal" style="background-color: #F8AD9D;">Añadir equipo</button>
            <ul>
                {{#each teams}}
                <li style="color: #FFDAB9;">{{this}}</li>
                {{/each}}
            </ul>

            <div class="modal" id="addTeamModal">
                <!-- Modal content goes here -->
                <!-- Example: -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #F8AD9D;">
                            <h5 class="modal-title">Añadir equipo</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="usersInput" style="color: #FFDAB9;">Usuarios:</label>
                                    <input type="text" class="form-control" id="usersInput" placeholder="Nombres de usuarios" oninput="autocompleteMembers('usersInput', 'autocompleteList2')" style="background-color: #B07052;">
                                    <div id="autocompleteList2"></div>
                                </div>
                                <div id="selectedUsersContainer"></div>
                                <div class="form-group">
                                    <label for="teamNameInput" style="color: #FFDAB9;">Nombre del equipo:</label>
                                    <input type="text" class="form-control" id="teamNameInput" placeholder="Nombre del equipo" style="background-color: #B07052;">

                                    <label for="teamDescriptionInput" style="color: #FFDAB9;">Descripción del equipo:</label>
                                    <input type="text" class="form-control" id="teamDescriptionInput" placeholder="Descripción del equipo" style="background-color: #B07052;">
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer" style="background-color: #F8AD9D;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #B07052;">Close</button>
                            <button type="button" class="btn btn-primary" style="background-color: #B07052;">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2 style="color: #B07052;">Tareas</h2>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal" style="background-color: #F8AD9D;">Añadir tarea</button>
            <ul>
                {{#each tasks}}
                <li style="color: #FFDAB9;">{{this}}</li>
                {{/each}}
            </ul>

            <div class="modal" id="addTaskModal">
                <!-- Modal content goes here -->
                <!-- Example: -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #F8AD9D;">
                            <h5 class="modal-title">Add Task</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- Modal body content goes here -->

                                   <form>
                                <div class="form-group">
                                    <label for="userInput" style="color: #FFDAB9;">Tarea:</label>
                                    <input type="text" class="form-control" id="taskName" placeholder="Nombre de tarea" style="background-color: #B07052;">
                               
                                </div>

                                <div class="form-group">
                                <label for="userInput" style="color: #FFDAB9;">Tarea:</label>
                                <input type="text" class="form-control" id="taskDesc" placeholder="Descripción de tarea" style="background-color: #B07052;">
                               
                                </div>
                            <div class="form-group">
                                <label for="userInput" style="color: #FFDAB9;">Tarea:</label>
                                <input type="date" class="form-control" id="taskDate" placeholder="Fecha de entrega de tarea" style="background-color: #B07052;">
                               
                                </div>
            
                            </form>
                        </div>
                        <div class="modal-footer" style="background-color: #F8AD9D;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #B07052;">Close</button>
                            <button type="button" class="btn btn-primary" style="background-color: #B07052;" onclick="addTask()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
function deleteMember(username) {
    var projectID = "{{id}}";

    // Envía una solicitud AJAX al servidor
    $.ajax({
        url: '/deleteMember',
        type: 'POST',
        data: { username: username, projectID: projectID },
        success: function(response) {
            // Si la solicitud es exitosa, redirige al usuario
            window.location.href = '/projects/' + projectID;
        },
        error: function(error) {
            // Si la solicitud falla, muestra un mensaje de error
            console.log(error);
            alert('Error deleting member');
        }
    });
}



var selectedUsers = [];

function addSelectedUser(username) {
    selectedUsers.push(username);
    updateSelectedUsers();
}

function removeSelectedUser(index) {
    selectedUsers.splice(index, 1);
    updateSelectedUsers();
}

function updateSelectedUsers() {
    var container = document.getElementById("selectedUsersContainer");
    container.innerHTML = ""; // Limpiar el contenedor

    selectedUsers.forEach(function (user, index) {
        var userDiv = document.createElement("div");
        userDiv.innerHTML = '<span>' + user + '</span><button type="button" onclick="removeSelectedUser(' + index + ')" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
        container.appendChild(userDiv);
    });
}

// Modificar la función autocompleteMembers
function autocompleteMembers(input, list) {
    var inputElement = document.getElementById(input);
    var autocompleteList = document.getElementById(list);

    if (inputElement) {
        var inputText = inputElement.value.trim();

        autocompleteList.innerHTML = "";

        if (inputText !== "") {
            var matchingMembers = getMatchingMembers(inputText);

            matchingMembers.forEach(function (member) {
                var suggestion = document.createElement("div");
                suggestion.innerHTML = "<strong>" + member + "</strong>";
                suggestion.addEventListener("click", function () {
                    addSelectedUser(member);
                    inputElement.value = "";
                    autocompleteList.innerHTML = "";
                });
                autocompleteList.appendChild(suggestion);
            });
        }
    }
}




    autocompleteList.innerHTML = "";

    // Filtrar y mostrar las sugerencias que coinciden con el texto ingresado
    if (inputText !== "") {
        var matchingMembers = getMatchingMembers(inputText); // Implementa esta función según tu lógica

        matchingMembers.forEach(function (member) {
            var suggestion = document.createElement("div");
            suggestion.innerHTML = "<strong>" + member + "</strong>";
            suggestion.addEventListener("click", function () {
                // Al hacer clic en una sugerencia, llenar el campo de entrada con esa sugerencia
                input.value = member;
                autocompleteList.innerHTML = "";
            });
            autocompleteList.appendChild(suggestion);
        });
    }


    function getMatchingMembers(text) {
        // Obtenemos los miembros del proyecto enviados desde el servidor como "members"
        var projectMembers = [{{#each members}}"{{this}}",{{/each}}];
        console.log(projectMembers)
        var matchingMembers = projectMembers.filter(function (member) {
            return member.toLowerCase().includes(text.toLowerCase());
        });
        return matchingMembers;
    }
</script>

<script>
function addMember() {
    // Obtén el valor de entrada del usuario
    var username = document.getElementById("userInput").value;
    var rol = document.getElementById("roleSelect").value;
    var projectID = "{{id}}";

    // Envía una solicitud AJAX al servidor
    $.ajax({
        url: '/addMember',
        type: 'POST',
        data: { username: username, projectID: projectID, rol: rol },
        success: function (response) {
            // Si la solicitud es exitosa, espera a que el modal se haya ocultado y luego redirige al usuario
            $('#addMemberModal').on('hidden.bs.modal', function () {
                window.location.href = '/projects/' + projectID;
            }).modal('hide');
        },
        error: function (error) {
            // Si la solicitud falla, muestra un mensaje de error y oculta el modal
            console.log(error);
            alert('Error adding member');
            $('#addMemberModal').modal('hide');
        }
    });
}

function addTask() {
    // Obtén el valor de entrada del usuario
    var taskName = document.getElementById("taskName").value;
    var taskDesc = document.getElementById("taskDesc").value;
    var taskDate = document.getElementById("taskDate").value;
    var projectID = "{{id}}";

    // Envía una solicitud AJAX al servidor
    $.ajax({
        url: '/addTask',
        type: 'POST',
        data: { taskName: taskName, taskDesc: taskDesc, taskDate: taskDate, projectID: projectID},
        success: function (response) {
            console.log(response);
            // Si la solicitud es exitosa, espera a que el modal se haya ocultado y luego redirige al usuario
            $('#addTaskmodal').on('hidden.bs.modal', function () {
                window.location.href = '/projects/' + projectID;
            }).modal('hide');
        },
        error: function (error) {
            // Si la solicitud falla, muestra un mensaje de error y oculta el modal
            console.log(error);
            alert('Error adding Task');
            $('#addTaskModal').modal('hide');
        }
    });
}


</script>


